{
	"root": true,
	"env": {
		"es6": true,
		"jest": true,
		"node": true
	},
	"parser": "@typescript-eslint/parser",
	"extends": [
		"airbnb-typescript/base"
	],
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"rules": {
		"import/order": [
			"error",
			{
				"newlines-between": "always"
			}
		],
		"padding-line-between-statements": [
			"error",
			{
				"blankLine": "always",
				"prev": "*",
				"next": "return"
			},
			{
				"blankLine": "always",
				"prev": [
					"const",
					"let",
					"var"
				],
				"next": "*"
			},
			{
				"blankLine": "any",
				"prev": [
					"const",
					"let",
					"var"
				],
				"next": [
					"const",
					"let",
					"var"
				]
			},
			{
				"blankLine": "always",
				"prev": [
					"block",
					"block-like",
					"if"
				],
				"next": "*"
			},
			{
				"blankLine": "always",
				"prev": "*",
				"next": [
					"block",
					"block-like",
					"if"
				]
			},
			{
				"blankLine": "any",
				"prev": "export",
				"next": "*"
			},
			{
				"blankLine": "any",
				"prev": "*",
				"next": "export"
			}
		],
		"comma-dangle": ["error", "always-multiline"],
		"class-methods-use-this": 0,
		"import/prefer-default-export": 0,
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"args": "after-used",
				"argsIgnorePattern": "_",
				"varsIgnorePattern": "_"
			}
		],
		"no-await-in-loop": 0,
		"no-plusplus": 0
	}
}
